#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 33px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -5px;
}

.menu__btn>span::after {
  content: '';
  top: 5px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

header {
  background-color: #ECEFF1;
  position: fixed;
  padding: 0%;
  
  
}
header a{text-decoration: none;}
header section{
  padding-right:150em ;
  background-color: #ECEFF1;
  height: 1px}
header img{
  margin-left: 5%;
}

#Sobre {
  background-color: rgb(78, 147, 130);
  border: 0px;
  padding: 0px;
  margin: 0px;

}
#Foto_p{
  width: 225px;
  height: 300px;
}

@media screen and (max-width: 1000px) {
  #Foto_p{
    width: 600px;
    height: 800px;
    float: none;
  }
}
body {
  border: 10px;
  margin: 0px;
  display: grid;
}
body button{
  font-size: 1em;
  background-color: #ECEFF1;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: 3px 5px 4px #333;
  
}
#space{ background-color: rgb(78, 147, 130);}

#Sobre p {
  font-size: 1.5em;
  text-align: justify;
  margin: 3% 10%;
  color: aliceblue;
  font-family: "Century gothic";
  padding-left: 2em;
  padding-right: 2em;
  text-shadow: 0px 1px 2px rgb(0 0 0 / 40%);
}

#Sobre img {
  float: right;
  padding-left: 2em;
  padding-bottom: 1em;
}
header p{display: block;}

.Titulos {
  padding-left: 10%;
  color: #003332;
  font-weight: bold;
  font-family: "Century gothic";
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
  text-align: initial;
}

.Textos {
  font-size: 1.5em;
  text-align: justify;
  margin: 3% 10%;
  color: aliceblue;
  font-family: "Century gothic";
  padding-left: 2em;
  padding-right: 2em;
  text-shadow: 3px 1px 3px rgb(1 0 0 / 80%);
}

#Proyectos {
  background-color: #8dbca9;
  border: 0px;
  padding: 0px;
  margin: 0px;
  text-align: center;   
}
#Proyectos div{
  display: inline-block;
  margin: 5%;
  height: 22.5em;
  width: 30em;}
  
#Proyectos img {
height: 100%;
 width: 100%;
 box-shadow: 3px 5px 4px #333;
object-fit: fill;
border-radius: 8px ;
}



#Contacto {
  background-color: #64826f;
  border: 0px;
  padding: 0px;
  margin: 0px;
}
#Contacto fieldset{
  background-color: #ECEFF1;
  width: 60%;
  border-style: none;
  display: inline-block;
  
}
#Contacto fieldset legend{
  background-color: #ECEFF1 ;
   width: 100%; 
   text-align: center;
   color: rgb(113, 113, 113);
   text-shadow: none;
   padding-bottom: 0.5em;
   font-style: italic;
   border: solid;
  }
#Contacto fieldset .datos{ 
  font-size: 1em;
  margin: 1%;
  font-style: italic;
  border-radius: 8px;
  width: 100%;
}
#Contacto fieldset .btn{
  font-size: 1em;
    background-color: #ECEFF1;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 5px 4px #333;
    padding: 4px 10px;
}
#Contacto div{display: flex;}

#Contacto ul{
  list-style-type: none;
  margin-block-start: 6em;
  margin-block-end: 4em;
  width: 10%;
  padding-inline-start: 0;
  display: inline-grid;
}

#Contacto li{
  width: 20px;
  height: 20px;
    
}
#Contacto img{
  width: 4.5em;
  height: 4em;
}
#Certificaciones {
  background-color: #4e9382;
  border: 0px;
  border: 0px;
  padding: 0px;
  margin: 0px;
}
#Certificaciones img{
  margin-left: 10%;
  margin-bottom: 2%;
  width: 15em;
  height: 12em;
}
footer {
  background-color: rgb(194, 188, 186);
  border: 0px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

footer img {
  max-width: 100%;
  max-height: 100%;
  padding-left: 45%;
  padding-right: 45%;
  text-align: center;
}
#Logo{
  
  max-width: 100%;
  max-height: 100%;
  padding-left: 45%;
  padding-right: 45%;
  position: fixed ;
  text-align: center; 
   background-color: #ECEFF1;}

